* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f0f0f;
  color: #f5f5f5;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(to bottom, #000, #111);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.hero p {
  color: #bbb;
  margin-bottom: 25px;
}

.btn {
  text-decoration: none;
  color: #000;
  background: rgb(107, 107, 105);
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: bold;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #777;
}

footer a {
  color: rgb(116, 115, 111);
  text-decoration: none;
  margin-left: 10px;
}
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}
.whatsapp-float:hover {
  background-color: #1ebc59;
}
